/* 初始化代码,单独文件

body,
div,
span,
p,
a,
input,
img,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
em,
del,
ins,
i,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    border: none;
    vertical-align: middle;
}

input {
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

i {
    font-style: normal;
}

body {
    font: 12px/100% "微软雅黑";
}

.clearfix::after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.w {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
} */

body,html {
    height: 100%;
    margin: 0;
}